<app-spinner *ngIf="loading == true"></app-spinner>
<div class="page">
    <div class="header">
        <div routerLink="/patient" class="back-button">
            <span class="material-symbols-outlined" style="font-weight: 800;">reply</span>
            <p>voltar</p>
        </div>
        <h2>Pacientes</h2>
    </div>
    <div class="content">
        <mat-form-field class="filter">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Busque pelo nome, cpf ou telefone" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="patients">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let patient"><span class="mobile-label">id</span>{{ patient.id }}</td>
                </ng-container>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let patient"><span class="mobile-label">nome</span>{{ patient.firstName | uppercase }} {{ patient.lastName | uppercase }}</td>
                </ng-container>
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef> CPF </th>
                    <td mat-cell *matCellDef="let patient"><span class="mobile-label">cpf</span>{{ patient.cpf | cpf}}</td>
                </ng-container>
                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef> Telefone </th>
                    <td mat-cell *matCellDef="let patient"><span class="mobile-label">telefone</span>{{ patient.contact.phone | phone }}</td>
                </ng-container>
                <ng-container matColumnDef="opcoes">
                    <th mat-header-cell *matHeaderCellDef> Opções </th>
                    <td mat-cell *matCellDef="let patient">
                        <div class="btn-container">
                            <button class="edit-button" (click)="updatePatient(patient)">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button class="del-button" (click)="viewPatient(patient.id)">
                                <span class="material-symbols-outlined">
                                    medical_information
                                </span>
                            </button>
                            <button class="calendar-button" (click)="viewPatient(patient.id)">
                                <span class="material-symbols-outlined">
                                    event
                                </span>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                aria-label="">
            </mat-paginator>
        </div>
    </div>
</div>