.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--primary-color);
}

.content {
    width: 90vw;
    height: 92vh;
    padding: 20px 0px;
    box-sizing: border-box;
}

table {
    width: 100%;
}

.filter {
    width: 100%;
}

.del-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgb(25, 235, 2);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-container{
    width: 150px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.del-button:hover {
    box-sizing: border-box;
    border: 2px solid rgb(43, 255, 0);
    color: rgb(51, 255, 0);
    background-color: white;
}

.edit-button:hover {
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
}

.back-button {
    width: 110px;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    position: absolute;
    left: 40px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover{
    background-color: white;
    color: var(--primary-color);
}

.mat-header-cell {
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 14px;
}

.calendar-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgb(0, 180, 70);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.calendar-button:hover {
    box-sizing: border-box;
    border: 2px solid rgb(0, 180, 70);
    color: rgb(0, 180, 70);
    background-color: white;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--primary-color);
    }

    .span {
        display: flex;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-cell {
      display: flex;
      flex-direction: column;
      padding: 8px 24px;
    }
  
  }