<div class="page">
    <div class="sidebar">
         <app-sidebar></app-sidebar>
    </div>

    <div class="left">

        <div class="title">
            <h2>Agendamentos</h2>
        </div>

        <div class="content">
            <div class="container-itens">
                <div class="item">
                    <span class="material-symbols-outlined">add</span>
                    <p class="item-name">Novo Agendamento</p>
                </div>
                <div class="item">
                    <span class="material-symbols-outlined">cancel</span>
                    <p class="item-name">Cancelar Agendamento</p>
                </div>
                <div class="item">
                    <span class="material-symbols-outlined">search</span>
                    <p class="item-name">Buscar Agendamento</p>
                </div>
                <div class="item">
                    <span class="material-symbols-outlined">edit</span>
                    <p class="item-name">Atualizar Agendamento</p>
                </div>
            </div>
        </div>
        <span class="material-symbols-outlined" id="menu-icon">menu</span>
    </div>
</div>