<app-spinner *ngIf="loading == true"></app-spinner>
<div class="page">
    <Header class="header">
        <div routerLink="/patient" class="back-button">
            <span class="material-symbols-outlined" style="font-weight: 800;">reply</span>
            <p>voltar</p>
        </div>
        <h2>Cadastro de paciente</h2>
    </Header>
    <form [formGroup]="patientForm" class="form" (ngSubmit)="submit()">

        <label>Dados pessoais</label>

        <div class="item-container">
            <div class="name">
                <label>Nome</label>
                <input formControlName="firstName" type="text">
            </div>
            <div class="name">
                <label>Sobrenome</label>
                <input formControlName="lastName" type="text">
            </div>
            <div class="name" id="sex">
                <label>Sexo</label>
                    <mat-select id="aa">
                        <mat-option formControlName="sex" *ngFor="let s of sex" [value]="s">
                            {{s}}
                        </mat-option>
                    </mat-select>
            </div>
        </div>

        <div class="item-container">

            <div class="name">
                <label>Email</label>
                <input formControlName="email" type="email">
            </div>

            <div class="name">
                <label>Telefone</label>
                <input formControlName="phone" mask="(00) 00000-0000" type="text">
            </div>

        </div>

        <div class="item-container">

            <div class="name">
                <label>CPF</label>
                <input formControlName="cpf" mask="000.000.000-00" type="text">
            </div>
            <div class="name">
                <label>Data de nascimento</label>
                <input formControlName="bornDate" type="date">
            </div>
        </div>

        <label>Endereço</label>

        <div class="item-container">
            <div class="item">
                <label>CEP</label>
                <input (blur)="findCep()" mask="00000-000" formControlName="cep" type="text">
            </div>
            <div class="street">
                <label>Cidade</label>
                <input readonly formControlName="city" type="text">
            </div>
        </div>
        <div class="item-container">
            <div class="street">
                <label>Rua</label>
                <input readonly formControlName="street" type="text">
            </div>
            <div class="item">
                <label>Número</label>
                <input formControlName="number" maxlength="4" type="text">
            </div>
        </div>

        <div class="item-container">
            <div class="street">
                <label>Bairro</label>
                <input readonly formControlName="district" type="text">
            </div>
            <div class="item">
                <label>Estado</label>
                <input readonly formControlName="state" type="text">
            </div>
        </div>

        <div>
            <div class="item" style="width: 100%;">
                <label>Complemento</label>
                <input formControlName="complement" type="text">
            </div>
        </div>
        <button class="button" [disabled]="!patientForm.valid" type="submit">Cadastrar</button>
    </form>
</div>