.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    background-color: var(--primary-color);
    color: white;
}

.content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 85vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container > div {
    width: 50%;
}

.input-container > div > input {
    width: 98%;
}

.item {
    display: flex;
    flex-direction: column;
    width: 14%;
}
.street {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.item-container {
    display: flex;
    justify-content: space-between;
}

.back-button{
    width: 110px;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    position: absolute;
    left: 40px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover{
    background-color: white;
    color: var(--primary-color);
}

input {
    padding: 4px;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
}

.button {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 50px;
    align-self: center;
    cursor: pointer;
    border-style: hidden;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

.button:disabled{
    background: lightgray;
    border: 2px solid darkgray;
    cursor: not-allowed;
}