<div class="page">
    <div class="sidebar" *ngIf="menuStatus>0">
        <app-sidebar></app-sidebar>
    </div>
    <div class="left">
        <div class="title">
            <h2>Pacientes</h2>
        </div>
        <div class="content">
            <div class="container-itens">
                <div class="item" routerLink="/all-patients">
                    <span class="material-symbols-outlined">group</span>
                    <p class="item-name">Vizualizar todos pacientes</p>
                </div>
                <div class="item" routerLink="/register-patient">
                    <span class="material-symbols-outlined">group_add</span>
                    <p class="item-name">Cadastrar paciente</p>
                </div>
                <div class="item" (click)="openSearchDialog()">
                    <span class="material-symbols-outlined">person_search</span>
                    <p class="item-name">Buscar por paciente</p>
                </div>           
            </div>
        </div>
        <span *ngIf="menuStatus<0" (click)="menuAction()" class="material-symbols-outlined" id="menu-icon">menu</span>
        <span *ngIf="menuStatus>0" (click)="menuAction()" class="material-symbols-outlined"
            id="menu-icon">arrow_circle_left</span>
    </div>
</div>