.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.form {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background-color: var(--white);
}

h2 {
    font-size: 2em;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--primary-color);
}

.input-box {
    width: 75%;
    position: relative;
    display: flex;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    outline: none;
    font-size: 14px;
    color: var(--primary-color);
}

.input-box input:valid~label,
.input-box input:focus~label {
    transform: translateY(-25px);
    font-size: 14px;
    padding: 0px 5px;
}

.input-box label {
    pointer-events: none;
    position: absolute;
    left: 8px;
    top: 15px;
    transition: 0.2s;
    padding: 0px 10px;
    background-color: white;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.button {
    box-sizing: border-box;
    padding: 15px 50px;
    background-color: var(--primary-color);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 800;
}

.button::before {
    background-color: black;
}



@media (max-width: 800px) {
    .form {
        width: 90vw;
        height: 60vh;
    }
}