<div class="page">
    <Header class="header">
        <p>Cadastro de pacientes</p>
        <div class="back-button">
            <span class="material-symbols-outlined" style="font-weight: 800;">reply</span>
            <p>voltar</p>
        </div>
    </Header>
    <form [formGroup]="pacientForm" class="form" (ngSubmit)="submit()">

        <label>Dados pessoais</label>

        <div class="item-container">

            <div class="name">
                <label>Nome</label>
                <input formControlName="firstName" type="text">
            </div>

            <div class="name">
                <label>Sobrenome</label>
                <input formControlName="lastName" type="text">
            </div>

        </div>

        <div class="item-container">

            <div class="name">
                <label>Email</label>
                <input formControlName="email" type="email">
            </div>

            <div class="name">
                <label>Telefone</label>
                <input formControlName="phone" type="tel">
            </div>

        </div>

        <div class="item-container">

            <div class="name">
                <label>CPF</label>
                <input formControlName="cpf" type="text">
            </div>
            <div class="name">
                <label>Data de nascimento</label>
                <input formControlName="bornDate" type="date">
            </div>

        </div>

        <label>Endereço</label>

        <div class="item-container">
            <div class="item">
                <label>CEP</label>
                <input (blur)="findCep()" formControlName="cep" type="text">
            </div>
            <div class="street">
                <label>Cidade</label>
                <input formControlName="city" type="text">
            </div>
        </div>
        <div class="item-container">
            <div class="street">
                <label>Rua</label>
                <input formControlName="street" type="text">
            </div>
            <div class="item">
                <label>Número</label>
                <input formControlName="number" type="text">
            </div>
        </div>

        <div class="item-container">
            <div class="street">
                <label>Bairro</label>
                <input formControlName="district" type="text">
            </div>
            <div class="item">
                <label>Estado</label>
                <input formControlName="state" type="text">
            </div>
        </div>

        <div>
            <div class="item" style="width: 100%;">
                <label>Complemento</label>
                <input formControlName="complement" type="text">
            </div>
        </div>

        <button class="button" [disabled]="!pacientForm.valid" type="submit">Cadastrar</button>
    </form>
</div>