.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    background-color: var(--primary-color);
    font-size: 20px;
    color: white;
}

.form {
    padding: 50px;
    width: 75vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form>label {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.form>div>div>label{
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 2px;
}


input {
    padding: 8px;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 14%;
}

.street {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.button {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 50px;
    align-self: center;
    cursor: pointer;
    border-style: hidden;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

.button:disabled{
    background: lightgray;
    border: 2px solid darkgray;
    cursor: not-allowed;
}

.back-button{
    width: 110px;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    position: absolute;
    left: 40px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover{
    background-color: white;
    color: var(--primary-color);
}