<div class="page">
    <div class="sidebar" *ngIf="menuStatus>0">
        <app-sidebar></app-sidebar>
    </div>
    <div class="left">
        <div class="title">
            <h2>Médicos</h2>
        </div>
        <div class="content">
            <div class="container-itens">
                <div class="item" routerLink="/register-doctor">
                    <span class="material-symbols-outlined">add</span>
                    <p class="item-name">Cadastrar médico</p>
                </div>
                <div class="item">
                    <span class="material-symbols-outlined">person_search</span>
                    <p class="item-name">Buscar por Médico</p>
                </div>
                <div class="item">
                    <span class="material-symbols-outlined">edit</span>
                    <p class="item-name">Atualizar Médico</p>
                </div>
            </div>
        </div>
        <span *ngIf="menuStatus<0" (click)="menuAction()" class="material-symbols-outlined" id="menu-icon">menu</span>
        <span *ngIf="menuStatus>0" (click)="menuAction()" class="material-symbols-outlined"
            id="menu-icon">arrow_circle_left</span>
    </div>
</div>