.sidebar{
    width: 20vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

@media (max-width: 1300px) {
    .item-name{
        display: none;
    }

    .item{
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 140px;
        height: 140px;
    }
}

.logo{
    align-self: center;
    margin-top: 10px;
}

.item{
    padding: 15px 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.item-name{
    padding: 20px;
    vertical-align: middle;
    letter-spacing: 2px;
    cursor: pointer;
}

.item:hover{
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
}

.material-symbols-outlined{
    vertical-align: middle;
}

#logout{
    position: absolute;
    bottom: 10px;
}
