.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.title {
    color: white;
    font-weight: 800;
}

.record {
    width: 80vw;
    height: 92vh;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: white;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subsection {
    width: 33%;
}

.subtitle {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 40px 0px 20px 0px;
}

.name {
    padding: 10px 0px 5px 0px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

.info {
    color: rgb(116, 116, 116);
}

.lastModi {
    font-size: 12px;
    padding: 5px 0px;
    color: rgb(133, 133, 133);
}