<div class="page">
    <div class="header">
        <div routerLink="/patient" class="back-button">
            <span class="material-symbols-outlined" style="font-weight: 800;">reply</span>
            <p>voltar</p>
        </div>
        <h2 class="title">Prontuário {{ patient?.firstName }} {{ patient?.lastName }}</h2>
    </div>
    <div class="record">
        <P class="subtitle">Dados pessoais</P>
        <div class="section">
            <div class="subsection">
                <p class="name">Nome</p>
                <p class="info">{{ patient?.firstName }} {{patient?.lastName}}</p>
                <p class="name">CPF</p>
                <p class="info">{{ patient?.cpf | cpf}}</p>
            </div>
            <div class="subsection">
                <P class="name">Idade</P>
                <p class="info">{{ patient?.age }} anos</p>
                <p class="name">Data de nascimento</p>
                <p class="info">{{ patient?.bornAt | date : 'dd/MM/yyyy' }}</p>
            </div>
            <div class="subsection">
                <p class="name">Telefone</p>
                <p class="info">{{ patient?.contact?.phone | phone }}</p>
                <p class="name">Email</p>
                <p class="info">{{ patient?.contact?.email }}</p>
                <p class="lastModi">Última modificação dos contatos: {{ patient?.contact?.lastModified }}</p>
            </div>
        </div>
        <P class="subtitle">Endereço</P>
        <div class="section">
            <div class="subsection">
                <p class="name">CEP</p>
                <p class="info">{{ patient?.address?.cep | cep }}</p>
                <p class="name">Cidade</p>
                <p class="info">{{ patient?.address?.city }}</p>
            </div>
            <div class="subsection">
                <p class="name">Rua</p>
                <p class="info">{{ patient?.address?.street }}</p>
                <p class="name">Bairro</p>
                <p class="info">{{ patient?.address?.district }}</p>
            </div>
            <div class="subsection">
                <p class="name">Número</p>
                <p class="info">{{ patient?.address?.number }}</p>
                <p class="name">Estado</p>
                <p class="info">{{ patient?.address?.state }}</p>
            </div>
        </div>
        <P class="subtitle">Consultas</P>
        <div>
            <div class="example-container mat-elevation-z8">
    
            <table mat-table [dataSource]="consults" class="mat-elevation-z8">

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> código </th>
                    <td mat-cell *matCellDef="let data"> {{data?.id}} </td>
                </ng-container>

                <ng-container matColumnDef="medico">
                    <th mat-header-cell *matHeaderCellDef> médico </th>
                    <td mat-cell *matCellDef="let data"> {{data?.doctorName}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef> data </th>
                    <td mat-cell *matCellDef="let data"> {{data?.date}} </td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> hora </th>
                    <td mat-cell *matCellDef="let data"> {{data?.time}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <p class="span" *ngIf="consults.length == 0">O paciente não possui consultas cadastradas</p>
        </div>
    </div>
</div>