@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color:   #4169E1;
    --bb: #0080ff; 
    --white: white;
    --aa: #4169E1
}